---
Language: Cpp
BasedOnStyle: Google

ColumnLimit: 110
IndentWidth: 4
AccessModifierOffset: -2
IndentAccessModifiers: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterLogicalNot: true
SpacesBeforeTrailingComments: 2
AlignConsecutiveAssignments: false
AlignTrailingComments: true
FixNamespaceComments: true
NamespaceIndentation: None
SortIncludes: false
